<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>橙子-二手交易平台</title>
    <link media="all" href="/home/css/index.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/admin/images/tubiao.png" type="image/ico">

</head>

<body>
<#include "../common/top_header.html" >
<#include "../common/left_menu.html" >
<link media="all" href="/home/css/index.css" type="text/css" rel="stylesheet">

<div class="container">
    <div class="main center">
        <div class="wrap-site mt20">
            <div class="recom-title"></div>
            <ul class="recom-list group">
                <li><a href="http://www.2shoujie.com/publishRule" target="_top">商品发布规则</a></li>
                <li><a href="http://www.2shoujie.com/article/4.html" target="_top">购买二手iPhone注意事项</a></li>
            </ul>
        </div>
        <div class="label-wr center clearfix">
            <div id="nav-labels">
                <button id="new_pro" class="labels" onclick="" ></button>
            </div>

        </div>

        <div class="item-list">
            <ul class="items clearfix">

            <#if goodsList.content??>
                <#list goodsList.content as goods>
               <li class="item">
                   <a href="/home/goods/detail?id=${goods.id}" class="img" target="_top"><img src="/photo/view_cunstomer?filename=${goods.photo}" alt="${goods.name}" style="width: 197px"></a>
                   <div class="info">
                       <div class="price">${goods.sellPrice}</div>
                       <div class="name">
                           <a href="/home/goods/detail?id=${goods.id}" >${goods.name}</a>
                       </div>
                       <div class="department"><span>${goods.customer.academy!"用户未填写"}</span></div>
                       <div class="place"><span>${goods.customer.school!"用户未填写"}</span></div>
                       <#if goods.recommend == 1>
                       <div class="school"><span>推荐</span></div>
                        </#if>
                    </div>
               </li>
            </#list>
            </#if>


            </ul>
        </div>
        <!-- 分页 开始 -->
<#if goodsList.total gt 0>
<!-- 分页 开始 -->
<div class="pages">
    <#if goodsList.currentPage == 1>
    <a class="page-arrow arrow-left" href="javascript:void(0)">首页</a>
    <#else>
    <a class="page-arrow arrow-left" href="/home/index/index?name=${name!""}&currentPage=1">首页</a>
        </#if>
        <#list goodsList.currentShowPage as showPage>
        <#if goodsList.currentPage == showPage>
        <a class="page-num cur" href="javascript:void(0)">${showPage}</a>
        <#else>
        <a class="page-num " href="/home/index/index?name=${name!""}&currentPage=${showPage}">${showPage}</a>
        </#if>
        </#list>
        <#if goodsList.currentPage == goodsList.totalPage>
        <a class="page-arrow arrow-right" href="javascript:void(0)">尾页</a>
        <#else>
        <a class="page-arrow arrow-right" href="/home/index/index?name=${name!""}&currentPage=${goodsList.totalPage}">尾页</a>
        </#if>
        </div>
        <!-- 分页 结束 -->
        </#if>
        <!-- 分页 结束 -->
    </div>
</div>

<div class="return-to-top"><a href="#"></a></div><!--返回顶部-->



<script  type="text/javascript" src="/home/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/home/js/common.js"></script>
<script type="text/javascript" src="/home/js/index_add.js"></script>
<#include "../common/right_menu.html" >
<#include "../common/footer_menu.html" >




</html>