<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>橙子-用户登录界面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link media="all" href="/home/css/login2.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/home/imgs/favicon.ico" type="image/x-icon">
    <link media="all" href="/home/css/product_detail.css" type="text/css" rel="stylesheet">
    <link media="all" href="/home/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<#include "../common/top_header.html" >
<#include "../common/left_menu.html" >
<div class="container">
    <div class="main center clearfix">
        <div class="ershou-desc">
            <div class="desc clearfix">
                <p id="user_cmt" style="float:left;">${newsdetail.content}</p>
            </div>
        </div>
    </div>
</div>
<#include "../common/right_menu.html"/>
<#include "../common/footer_menu.html"/>
<script  type="text/javascript" src="/home/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/home/js/common.js"></script>
<script type="text/javascript" src="/home/js/index_add.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

    });

</script>
</html>